altgraph==0.17.4
asgiref==3.8.1
auto-py-to-exe==2.46.0
bottle==0.13.3
bottle-websocket==0.2.9
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
Django==5.2
djangorestframework==3.16.0
Eel==0.18.1
et_xmlfile==2.0.0
future==1.0.0
gevent==25.4.1
gevent-websocket==0.10.1
greenlet==3.2.1
gunicorn==23.0.0
idna==3.10
numpy==2.2.4
openpyxl==3.1.5
packaging==25.0
pandas==2.2.3
pefile==2023.2.7
pillow==11.2.1
psycopg2-binary==2.9.10
pycparser==2.22
pyinstaller==6.13.0
pyinstaller-hooks-contrib==2025.3
pyparsing==3.2.3
python-dateutil==2.9.0.post0
pytz==2025.2
pywin32-ctypes==0.2.3
requests==2.32.3
setuptools==79.0.0
six==1.17.0
SQLAlchemy==2.0.40
sqlparse==0.5.3
typing_extensions==4.13.1
tzdata==2025.2
urllib3==2.4.0
whitenoise==6.9.0
zope.event==5.0
zope.interface==7.2
